<app-user-select></app-user-select>
<app-header *nrlExclude="['admin']"></app-header>

<div *nrlInclude="['guest']">
  Welcome Guest, please sign up.
  <button>sign in</button>
</div>

<div *nrlInclude="['user']">
  Welcome User, you are looking fresh today.
  <button>Do Cool Stuff</button>
</div>

<div *nrlInclude="['admin']">
  Hi, Bob.
  <button>LAUNCH ZE MISSILES</button>
</div>

<div *nrlExclude="['guest']">Silly guests can't see this message ahahahaha</div>
<div *nrlInclude="['user', 'admin']">
  Silly guests ALSO can't see this message ahahahaha
</div>

<router-outlet />
